*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 123, 106);
}
p{
    color: rgb(171, 189, 188);
}
i{
    color: rgb(18, 70, 66);
}
.fle{
    display: flex;
    width: 100%;
    margin-left: 20px
    
    

}
.second{
    margin-top: 100px;
}



.meals{
    width: 100%;
}


.container{
    width: 80%;
    margin: auto;
}
.d-flex{
display: flex;
flex-wrap: wrap;
}
.box{
    width: 25%;
    position: relative;

    
}
.boxText{
    width: 80%;
    padding: 2px;

}
.boxPrice {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 0 0 0 10px; 
}
.button {
    margin-top: 1rem;
    background-color: #4CAF50;
    color: rgb(101, 9, 9);
    border: 2px solid red;
    padding: 8px 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #022804;
}